html {
  box-sizing: border-box;
  line-height: 2rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.2s cubic-bezier(0.17, 0.88, 0.75, 0.96);
  /* border: 1px solid red; */
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .header-main {
    display: flex;
    flex-direction: column;
  }
  .card-main.c1 {
    display: none;
  }
  .card-main.c2 {
    display: flex;
  }
  .card-main-div {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
  }
  .info-title {
    line-height: 5rem;
  }
}

/* md */

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .link-btn a:first-child {
    display: block;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .card-main-div {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
  }
}

/* xl */

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .header-main {
    display: flex;
    flex-direction: row;
  }
  .card-main.c1 {
    display: flex;
  }
  .card-main.c2 {
    display: none;
  }
  .card-main-div {
    margin-top: 0;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
