.main {
}
.products {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 7rem 0;
}
.product-card {
  background-color: #d0e49a91;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding: 1.2rem;
  border-radius: 1rem;
}
.product-card-img {
  width: 100%;
}
.product-card-img img {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}
.products-title {
  font-size: 1.5rem;
  margin: 0.4rem 0;
  font-weight: 900;
}
.products-title-en {
  font-weight: 900;
  margin: 0.2rem 0;
  font-size: 0.8rem;
}
.products-price {
  font-size: 1.3rem;
  font-family: outfit;
  background-color: #4d9f3d31;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}
.products-btn {
  background-color: #4d9f3d;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-weight: 900;
  margin-top: 1rem;
  cursor: pointer;
}
.products-btn:hover {
  background-color: #6cc55a;
}
